body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a; /* Azul escuro quase preto */
    color: #cbd5e1; /* Cinza claro para o texto principal */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}